body{font-family: 'Helvetica', sans-serif;
margin:0;
color: #959595;}

/*********** HEADER ************/



h1 {
    text-align: center;
    padding: 20px;
    background-color: #ffaacc;
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: normal;
    margin:0;
}
/*********** Nav ************/
/* Style the links inside the navigation bar */
.topnav{
    text-align: center;
    margin-top: 40px;
}
.topnav a {
    color: #959595;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
    font-weight: lighter; 
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #ffaacc;
}

/* Add a color to the active/current link */
.topnav a.active {
    color: #ffaacc;
}

/*details*/
h2{
    text-align: center;
    color:#959595;
    font-size: 25px;
    font-weight: lighter;
    margin-top: 50px;
}
#container {
    margin: 0 auto;
    width: 80%;
    margin-top: 50px;
    font-weight: lighter;
}

#table { 
    border-spacing: 100px 40px;
    border-collapse: separate;
    font-size: 20px;
}
#opennow  {
    font-size: 30px;
    color: #A7C16D;
    margin-left: 40px;
}
.about{
    margin-top: 60px;
    margin-left: 60px;
}

.about p {
    word-wrap: break-word;
    width: 500px;
    margin-left: 40px;
    margin-top:0px;"
}

.gallery {
    margin: 40px;
    float: left;
    text-align: center;
}

.gallery:hover {
    border: 1px solid #ffaacc;
}


div.desc {
    padding: 15px;
    text-align: center;
}
.Findus {
    text-align: center;
}

}



